@model Alpha.Models.MenuViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New Restaurant", "Create")
</p>

@Html.HiddenFor(m => m.MenuId)
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Name)
        </th>
        <th>
            @Html.TextBoxFor(m => m.Name)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.DateOfModification)
        </th>
        <th>
            @Html.DisplayFor(m => m.DateOfModification)
        </th>
    </tr>

    @foreach (var item in Model.ItemList)
    {
    <tr>
        <td>
            <img src="@Url.Action("RenderItemPhoto", "Menu", new { ItemId = item.ItemId })" alt="No picture" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>


        <td>
            @Html.ActionLink("Edit", "EditItem", new { id = item.ItemId }) |
            @Html.ActionLink("Delete", "DeleteItem", new { RestoId = item.ItemId })
        </td>
    </tr>
    }
</table>

