@model Alpha.Models.AddChefToRestaurantViewModel

@{ 
    if (Model.chefOrNotAdmin)
    {
        ViewBag.Title = "Add a Chef To " + Model.RestoName;
    }
    else
    {
        ViewBag.Title = "Add a Admin To " + Model.RestoName;

    }
}

@using (Html.BeginForm("AddChefToRestaurant", "Restaurant", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Add Chef To The Restaurant</h2>
    @Html.ValidationSummary("", new { @class = "text-error" })
    @Html.HiddenFor(model => model.RestoName)
    @Html.HiddenFor(model => model.chefOrNotAdmin)
    <table class="table">
        <tr>
            <th>
                Select
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
        </tr>
        @Html.EditorFor(model => model.User)
    </table>
    <input type="submit" name="operation" id="submit" value="Submit Selected" />
}

