@model Alpha.Models.ViewModels.OrderViewModels

@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1>Votre commande au @Model.Resto_Name</h1>

    TODO Ajouter Image resto ICI

    <hr />
    <h2> Menu </h2>

    <div class="container">
        <div class="col-sm-6">
            @foreach (var item in Model.ListOfProposedItems)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@Url.Action("RenderItemPhoto", "Menu", new { ItemId = item.ItemId })" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name.ToString()</h5>
                        <p class="card-text">@item.Description.ToString()</p>
                        <a href="@Url.Action("AddItemToOrder", "Order", new { ItemId = item.ItemId, OrderId = Model.OrderId })" class="btn btn-primary">Ajouter</a>
                    </div>
                </div>
            }
        </div>
    </div>


</div>

    
