@model Alpha.Models.ViewModels.PickASlotTimeView

@{
    ViewBag.Title = "PickASlotTimeStep0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Commençons par choir quand voulez-vous manger</h2>

@using (Html.BeginForm("PickASlotTime", "Order", FormMethod.Post, new { @class = "center-block", role = "form" }))
{

    if (Model.ListOfPossibleTimes != null && Model.ListOfPossibleTimes.Count != 0)
    {
        if (Model.ListOfPossibleTimes.Count(m => m.SlotGroup == Alpha.Models.MealTime.Breakfast) != 0)
        {
            <h3> Déjeuner </h3>
            <br />
            <table>
                <tr>
                    @foreach (var item in Model.ListOfPossibleTimes.Where(m => m.SlotGroup == Alpha.Models.MealTime.Breakfast))
                    {
                        <td>
                            <button type="submit" name="Button" value="@item.Id" class="btn btn-primary btn-lg">@item.TimeFromText() <br /> @item.TimeToText()</button>
                        </td>
                    }
                </tr>
            </table>
        }
        if (Model.ListOfPossibleTimes.Count(m => m.SlotGroup == Alpha.Models.MealTime.Lunch) != 0)
        {
            <h3> Diner </h3>
            <br />
            <table>
                <tr>
                    @foreach (var item in Model.ListOfPossibleTimes.Where(m => m.SlotGroup == Alpha.Models.MealTime.Lunch))
                    {
                        <td>
                            <button type="submit" name="Button" value="@item.Id" class="btn btn-primary btn-lg">@item.TimeFromText() <br /> @item.TimeToText()</button>
                        </td>
                    }
                </tr>
            </table>
        }
        if (Model.ListOfPossibleTimes.Count(m => m.SlotGroup == Alpha.Models.MealTime.Diner) != 0)
        {
            <h3> Souper </h3>
            <br />
            <table>
                <tr>
                    @foreach (var item in Model.ListOfPossibleTimes.Where(m => m.SlotGroup == Alpha.Models.MealTime.Diner))
                    {
                        <td>
                            <button type="submit" name="Button" value="@item.Id" class="btn btn-primary btn-lg">@item.TimeFromText() <br /> @item.TimeToText()</button>
                        </td>
                    }
                </tr>
            </table>
        }


    }
    else
    {
        <h4> Désolé, il n'y plus de disponnibilité dans ce restaurant pour aujourd'hui...</h4>
    }
}


